#change-password-container{
    min-height: calc(100vh - 50px);
}
/*===== STYLE FOR MODEL =====*/
.edit-form {
    max-width: 300px;
    margin: auto;
    padding-top: 20px;
    display: block;
}
.edit-input {
    position: relative;
}
.error-log {
    color: #ff6f69;
    position: absolute;
    top: 3px;
    right: 0;
    text-align: right;
    font-size: 12px;
}
.edit-form input[type="password"] {
    background: #eee;
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    background-color: #eee;
    color: #8a97a0;
    margin-bottom: 10px;
}
.edit-form select {
    padding: 6px;
    height: 42px;
}
.edit-form button {
    padding: 10px 0;
    color: #fff;
    background-color: #43b696;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 49%;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 0;
}

.edit-form label {
    display: block;
    margin-bottom: 4px;
}
.save-btn {
    font-size: 18px;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100px;
    border: 0;
    border-radius: 0;
    background: #43b696;
    margin: auto auto;
    display: block;
}
/*===== STYLE FOR ALERT =====*/
.alert {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    z-index: 999;
    display: none;
}
.alert-show {
    display: block!important;
}