/* ===== STYLE FOR TRANSACTION LIST =====*/

#transaction-list>div {
	width: 100%;
	height: 50px;
	text-align: center;
	color: #555;
	margin-bottom: 20px;
	font-size: 2.5rem;
}

#transaction-list>div i {
	margin-top: 20px;
	padding: 0 10px;
}

#transaction-list>div span {
	margin-left: 20px;
	margin-right: 20px;
}


/* ===== STYLE FOR TRANSACTION LIST ITEM =====*/

#transaction-list ul {
	width: 100%;
	padding-bottom: 60px;
}

#transaction-list ul>span {
	color: #aaa;
	margin: 200px auto;
	display: block;
	text-align: center;
}

#transaction-list .list-group-item table {
	width: 100%;
	color: black;
}

#transaction-list .list-group-item {
	padding: 0;
	margin-bottom: 5px;
	border-radius: 0;
	cursor: default !important;
}
}

#transaction-list .list-group-item:hover {
	background-color: #eef;
}

#transaction-list .date {
	border-bottom: 1px solid #eee;
}

#transaction-list .date .d {
	font-size: 2rem;
	padding-left: 10px;
	width: 10%;
}

#transaction-list .date .my {
	font-size: 1rem;
}

#transaction-list .date .wallet {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

#transaction-list .details img {
	width: 30px;
	height: 30px;
	margin: 10px;
}

#transaction-list .details .money {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

#transaction-list .details div {
	width: 30%;
	display: inline-block;
	font-size: 1.2rem;
}

/* ===== STYLE FOR TRANSACTION FORM AND DETAIL=====*/

.modal .modal-body {
    background: #eee;
}

.modal input[type="text"],
.modal input[type="date"],
.modal input[type="number"],
.modal textarea,
.modal select {
	background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    color: #8a97a0;
    margin-bottom: 10px;
}

.modal select {
	padding: 6px;
	height: 42px;
}

.modal button:not(.close) {
	color: #fff;
	background-color: #43b696;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border: 0;
    padding: 10px;
    width: 100px;
    border-radius: 0;
}

.modal button[type="button"]:not(.close) {
	background-color: #ff6f69;
}

.modal label {
	display: block;
	margin-bottom: 4px;
}

.error-log {
    color: #ff6f69;
    position: absolute;
    top: 3px;
    right: 0;
    text-align: right;
    font-size: 12px;
}

/* ===== STYLE FOR CREATE TRANSACTION BUTTON =====*/

#transaction-list>button {
	border-radius: 100%;
	border: 0;
	width: 70px;
	height: 70px;
	background-color: #43b696;
	font-size: 3.8rem;
	color: white;
	padding: 0;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1;
}

#transaction-list>button:focus {
	outline: 0;
	background-color: #37957a;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
	#transaction-list>button {
		right: 100px;
		bottom: 50px;
	}
	#transaction-list ul {
		max-width: 500px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1200px) {
	#transaction-list>button {
		right: 300px;
		bottom: 50px;
	}
	#transaction-list ul {
		max-width: 400px;
		margin: 0 auto;
	}
}
