<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up - Moneylover</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css?v=3.3.6">
    <link rel="stylesheet" type="text/css" href="lib/font-awesome.min.css?v=4.6.1">
    <link rel="stylesheet" type="text/css" href="css/sign-up.css?v=1.0.0">
    <link rel="shortcut icon" href="favicon.png">
</head>

<body id="page-top" class="index">
    <noscript>&lt;div id="noscript-warning"&gt;This site works best with Javascript enabled, as you can plainly see.&lt;/div&gt;</noscript>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand" href="/">Moneylover</a>
            <a class="navbar-item" href="/login">Log In</a>
        </div>
    </nav>

    <!-- Login Form -->
    <div class="container">
        <div class="sign-up">
            <h1>Create new Account</h1>

            <form class="form" method="post" action="#">
                <p class="field">
                    <input type="text" name="username" value="" placeholder="Username" required autofocus/>
                    <i class="fa fa-user"></i>
                </p>
                <p class="field">
                    <input type="text" name="email" value="" placeholder="Email" required/>
                    <i class="fa fa-envelope"></i>
                </p>
                <p class="field">
                    <input type="password" name="password" placeholder="Password" required/>
                    <i class="fa fa-lock"></i>
                </p>
                <p class="field">
                    <input type="password" name="re-password" placeholder="Retype password" required/>
                    <i class="fa fa-retweet"></i>
                </p>

                <span>By clicking <b><em>Register</em></b>, you agree to our <a href="">Terms of Use</a> and <a href="">Privacy Policy</a></span>

                <p class="submit">
                    <input type="submit" name="sent" value="Register">
                </p>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>144 Xuan Thuy str
                            <br>Cau Giay dst, HN 10000</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Moneylover</h3>
                        <p>Personal finance with no stress - Live the life you want.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Money Lover 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

<script type="text/javascript" src="lib/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="js/sign-up.js?v=1.0.0"></script>

</html>